@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular Font */
@font-face {
  font-family: "NokiaFont";
  src: url("/fonts/nokia-s60v1-12px.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Bold Font */
@font-face {
  font-family: "NokiaFont";
  src: url("/fonts/nokia-s60v1-12px-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Title Font */
@font-face {
  font-family: "NokiaTitleFont";
  src: url("/fonts/nokia-s60v1-title.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NokiaFont", sans-serif;
}

@keyframes float {
  50% {
    /*scale or transform or both*/
    /*translate:0 -20px ;*/
    scale: 1.2;
  }
}
